# --- CORE DJANGO SETTINGS ---
# This is an example key. For production, generate a new, unique key!
SECRET_KEY=django-insecure-your_secret_key_here
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
# CSRF_TRUSTED_ORIGINS= (Leave blank for local dev)

# --- POSTGRESQL DATABASE ---
# (You must install PostgreSQL on your computer first)
PGDATABASE=your_database_name
PGUSER=your_database_user
PGPASSWORD=your_database_password
PGHOST=localhost
PGPORT=5432

# --- API KEYS ---
GEMINI_API_KEY=your_gemini_api_key
GROQ_API_KEY=your_groq_api_key
PAYSTACK_SECRET_KEY=your_paystack_secret_key
PAYSTACK_PUBLIC_KEY=your_paystack_public_key
PAYSTACK_VERIFICATION_URL=https://api.paystack.co/transaction/verify/
PAYSTACK_WEBHOOK_SECRET=your_paystack_webhook_secret