databases:
  - name: akili-db
    plan: free

services:
  - type: web
    name: akili
    plan: free
    env: python
    buildCommand: ./build.sh
    startCommand: gunicorn --bind=0.0.0.0:5000 --workers=2 --threads=2 --worker-class=gthread --max-requests=1000 --max-requests-jitter=50 --timeout=120 --keepalive=5 akili_project.wsgi:application
    envVars:
      - key: PGDATABASE
        fromDatabase:
          name: akili-db
          property: database
      - key: PGUSER
        fromDatabase:
          name: akili-db
          property: user
      - key: PGPASSWORD
        fromDatabase:
          name: akili-db
          property: password
      - key: PGHOST
        fromDatabase:
          name: akili-db
          property: host
      - key: PGPORT
        fromDatabase:
          name: akili-db
          property: port
      - key: DATABASE_URL
        fromDatabase:
          name: akili-db
          property: connectionString
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: False
      - key: ALLOWED_HOSTS
        value: .onrender.com
      - key: CSRF_TRUSTED_ORIGINS
        value: https://*.onrender.com
      - key: GEMINI_API_KEY
        sync: false
      - key: GROQ_API_KEY
        sync: false
