databases:
  - name: akili-db
    databaseName: akili_db
    user: akili_user
    plan: free

services:
  - type: web
    name: akili
    plan: free
    env: python
    buildCommand: ./build.sh
    startCommand: gunicorn akili_project.wsgi
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: akili-db
          property: connectionString
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: False
      - key: ALLOWED_HOSTS
        value: .onrender.com
      - key: CSRF_TRUSTED_ORIGINS
        value: https://*.onrender.com
      - key: GEMINI_API_KEY
        sync: false
      - key: GROQ_API_KEY
        sync: false
